# Interactive Coding Activity: Data Manipulation with Pandas

## Objective
This Jupyter Notebook is designed to guide an interactive session on using the Pandas library for data manipulation in Python. The session will cover the basics of DataFrame creation, data exploration, cleaning, transformation, and aggregation.

### Preparation
- Ensure Pandas is installed: `!pip install pandas`
- Download the dataset from [Kaggle](https://www.kaggle.com/datasets) or another source and load it into the notebook.

In [ ]:
import pandas as pd

# Replace with the path to your dataset
dataset_path = 'path_to_dataset.csv'
df = pd.read_csv(dataset_path)

## Basic Data Exploration

In this section, we'll perform basic operations to understand the structure and content of our DataFrame.

- View the first few rows of the DataFrame.
- Display summary statistics and information about the dataset.

In [ ]:
# Display the first 10 rows
df.head(10)

In [ ]:
# Summary statistics and information
df.describe()
df.info()

## Data Cleaning and Preparation

- Handle missing values.
- Rename columns for clarity.
- Convert data types if necessary.

In [ ]:
# Example: Handling missing values
df.fillna(method='bfill', inplace=True)

# Example: Renaming a column
df.rename(columns={'OldName': 'NewName'}, inplace=True)

## Data Manipulation and Transformation

- Filter, sort, and group data.
- Create new columns based on existing data.
- Perform operations using `groupby()`, `apply()`, and conditional filtering.

In [ ]:
# Example: Filtering data
filtered_df = df[df['Column'] > some_value]

# Example: Creating a new column
df['NewColumn'] = df['ExistingColumn'].apply(some_function)

## Interactive Exercise

Now, it's your turn to explore the dataset. Here are some tasks to try:

1. Identify the top 5 items in the dataset based on a certain criterion.
2. Create a new column that categorizes data based on a specific rule.

## Discussion and Review

- Discuss different methods or solutions used in the exercise.
- Share insights and clarify complex concepts.